imagePullSecrets: []

global:
  namespace: rm

# should we run a dedicated database instance?
db:
  enabled: true
  name: resource-catalogue-db
  service_name: resource-catalogue-db-service
  image: postgis/postgis:17-3.5
  port: 5432
  database: pycsw
  user: postgres
  pass: mypass
  volume_name: db-data
  volume_path: /var/lib/postgresql/data/pgdata
  volume_size: 500Mi
  volume_access_modes: ReadWriteOnce
  volume_storageclass: managed-nfs-storage-retain
  volume_subpath_enabled: false
  volume_subpath: data
  configmap_name: resource-catalogue-db-configmap
  configmap_volume_name: resource-catalogue-db-config
  configmap_volume_path: /etc/postgresql
  config:
    enabled: true
    # port: 5432
    # max_connections: 100
    # shared_buffers: 32MB
    # effective_cache_size: 4GB
    # maintenance_work_mem: 64MB
    # checkpoint_completion_target: 0.5
    # wal_buffers: -1
    # default_statistics_target: 100
    # effective_io_concurrency: 1
    # work_mem: 4MB
    # min_wal_size: 80MB
    # max_wal_size: 1GB
    # max_worker_processes: 8
    # max_parallel_workers_per_gather: 2
    # max_parallel_workers: 8
    # max_parallel_maintenance_workers: 2
    # seq_page_cost: 1.0
    # random_page_cost: 4.0
    # cpu_tuple_cost: 0.01
    # cpu_index_tuple_cost: 0.005
    # cpu_operator_cost: 0.0025
    # parallel_tuple_cost: 0.1
    # parallel_setup_cost: 1000.0

# should we connect to an external database?
external_db:
  #host: resource-catalogue-db
  #port: 5432
  #database: pycsw
  #auth:
  #  # expects a secret with {username,password} keys
  #  secret_name: resource-catalogue-db-auth

ingress:
  enabled: true
  name: resource-catalogue
  class: nginx
  host: resource-catalogue.demo.eoepca.org
  tls_host: resource-catalogue.demo.eoepca.org
  tls_secret_name: resource-catalogue-tls
  subpath_enabled: false
  subpath: "/resource-catalogue"
  default_annotations:
    kubernetes.io/ingress.class: "{{ .Values.ingress.class }}"
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "600"
  subpath_annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$1
    nginx.ingress.kubernetes.io/configuration-snippet: |
      rewrite ^({{ .Values.ingress.subpath }})$ $1/ redirect;
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt

pycsw:
  name: pycsw
  image:
    repository: geopython/pycsw
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    tag: "eoepca-2.0.0"
  replicas: 1
  container_port: 8000
  service_name: resource-catalogue-service
  service_type: ClusterIP
  service_port: 80
  service_port_name: http
  # service_node_port: 30000
  service_port_protocol: TCP
  service_target_port: 8000
  configmap_name: resource-catalogue-configmap
  volume_name: resource-catalogue-config
  volume_path: /etc/pycsw
  config:
    server:
      url: https://resource-catalogue.demo.eoepca.org/
      mimetype: application/xml; charset=UTF-8
      encoding: UTF-8
      language: en-US
      maxrecords: 10
      # ogc_schemas_base: http://foo
      # pretty_print: true
      # gzip_compresslevel: 8
      # domainquerytype: range
      # domaincounts: true
      # spatial_ranking: true
      # workers: 2
      timeout: 30
    logging:
      level: ERROR
      # logfile: /tmp/pycsw.log
    profiles:
      - apiso
    # federatedcatalogues:
    #   - http://catalog.data.gov/csw
    manager:
      transactions: "false"
      allowed_ips:
        - 127.0.0.1
      csw_harvest_pagesize: 10
    # pubsub:
    #   broker:
    #   type: mqtt
    #   url: mqtt://localhost:1883
    metadata:
      identification:
        title: pycsw Geospatial Catalogue
        description: pycsw is an OARec and OGC CSW server implementation written in Python
        keywords:
          - catalogue
          - discovery
          - metadata
        keywords_type: theme
        fees: None
        accessconstraints: None
        terms_of_service: https://creativecommons.org/licenses/by/4.0
        url: https://example.org
      license:
        name: CC-BY 4.0 license
        url: https://creativecommons.org/licenses/by/4.0
      provider:
        name: Organization Name
        url: https://pycsw.org/
      contact:
        name: Lastname, Firstname
        position: Position Title
        address: Mailing Address
        city: City
        stateorprovince: Administrative Area
        postalcode: Zip or Postal Code
        country: Country
        phone: +xx-xxx-xxx-xxxx
        fax: +xx-xxx-xxx-xxxx
        email: Email Address
        url: Contact URL
        hours: Hours of Service
        instructions: During hours of service.  Off on weekends.
        role: pointOfContact
      inspire:
        enabled: "true"
        languages_supported:
          - eng
          - gre
        default_language: eng
        date: YYYY-MM-DD
        gemet_keywords:
          - Utility and governmental services
        conformity_service: notEvaluated
        contact_name: Organization Name
        contact_email: Email Address
        temp_extent:
          begin: YYYY-MM-DD
          end: YYYY-MM-DD
    repository:
      #database: postgresql://postgres:mypass@resource-catalogue-db/pycsw
      database: '${PYCSW_REPOSITORY_DATABASE_URI}'
      table: records
      # mappings: path/to/mappings.py
      # filter: type = 'http://purl.org/dc/dcmitype/Dataset'
      # max_retries: 5
      facets:
        - type
        - title
