{{ if .Values.keycloak.enabled -}}
{{ if .Values.iam.keycloak.createRoute -}}
apiVersion: apisix.apache.org/v2
kind: ApisixRoute
metadata:
  name: keycloak-route
  annotations:
    ingress.kubernetes.io/ssl-redirect: "true"
spec:
  http:
  - backends:
    - serviceName: {{ printf "%s-keycloak" .Release.Name }} #iam-keycloak
{{- if .Values.keycloak.tls.enabled }}
      servicePort: 443
{{- else }}
      servicePort: 80
{{- end }}
    match:
      hosts: {{- .Values.iam.keycloak.hosts | toYaml | nindent 6 }}
      paths: {{- .Values.iam.keycloak.paths | toYaml | nindent 6 }}
    name: keycloak
    plugins:
{{- if .Values.keycloak.cors.enabled }}
      # Allow CORS access
      - name: cors
        enable: true
{{- end }}
# The following workaround has been replaced with a global rule and is not needed here any more.
#    plugins:
#      # Possible workaround for redirect-to-9443 problem that also works for HTTP
#      - name: serverless-pre-function
#        enable: true
#        config:
#          phase: "rewrite"
#          functions:
#            - "return function(conf, ctx) if tonumber(ngx.var.var_x_forwarded_port) > 9000 then ngx.var.var_x_forwarded_port = ngx.var.var_x_forwarded_port - 9000 end end"
{{ end -}}
{{ end -}}
