apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "oxpassport.fullname" . }}
  labels:
    app: {{ include "oxpassport.name" . }}
    chart: {{ include "oxpassport.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "oxpassport.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ include "oxpassport.name" . }}
        release: {{ .Release.Name }}
    spec:
      hostAliases:
      - ip: {{ .Values.global.nginxIp }}
        hostnames:
        - {{ .Values.global.domain }}
      containers:
        - name:  {{ .Chart.Name }}
          image: {{ tpl .Values.image.repository $ }}:{{ tpl .Values.image.tag $ | default .Chart.AppVersion }}
          imagePullPolicy: {{ tpl .Values.image.pullPolicy $ }}
          ports:
            - name: oxpassport
              containerPort: 8090
              protocol: TCP
          envFrom:
            - configMapRef:
                name: {{ template "oxpassport.fullname" . }}-cm
          resources:
            requests:
              memory: {{ .Values.requests.memory }}
              cpu: {{ .Values.requests.cpu }}
            # limits:
            #   memory: {{ .Values.limits.memory }}
