name: Release Charts

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Add helm repos
        run: |
          helm repo add eox https://charts-public.hub.eox.at/
          helm repo add eoepca-dev https://eoepca.github.io/helm-charts-dev/
          helm repo add eoepca https://eoepca.github.io/helm-charts/
          helm repo add jupyterhub https://jupyterhub.github.io/helm-chart/
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo add permitio https://permitio.github.io/opal-helm-chart
          helm repo add apiseven https://charts.apiseven.com
          helm repo add knative-operator https://knative.github.io/operator
          helm repo list

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.4.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          CR_SKIP_EXISTING: true
